# Configuration file for plugin builder tool (pb_tool)
[plugin]
name: UMM STAC Liability/Claim Converter

[files]
python_files: __init__.py umm_stac_converter.py umm_to_stac.py stac_to_umm.py converter_dialog.py
main_dialog: converter_dialog_base.ui
resource_files: resources.py resources.qrc
extras: metadata.txt icon.png README.md
compiled_resource_files: resources.py

[help]
plugin_path: .
